<!-- <div class="movie-list">
    <div *ngFor="let movie of movies" (click)="selectMovie(movie)" [ngClass]="{'selected-movie': movie === selectedMovie}">
        {{ movie.title }} -->
<div class="movie-list">
  <div
    *ngFor="let movie of movies"
    (click)="selectMovie(movie)"
    [ngClass]="{ 'selected-movie': movie === selectedMovie }"
  >
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ movie.title }}</mat-card-title>
          <mat-card-subtitle>{{ movie.category }}</mat-card-subtitle>
          <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > -->
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
</div>
