<mat-tab-group dynamicHeight>
  <mat-tab class="tab" label="Thrillers">
    <div class="example-large-box mat-elevation-z4">
      <img src="assets/thriller.png" />
    </div>
  </mat-tab>
  <mat-tab class="tab" label="Fantasy">
    <div class="example-large-box mat-elevation-z4">
      <img src="assets/fantasy.png" />
    </div>
  </mat-tab>
  <mat-tab class="tab" label="Sci-Fi">
    <div class="example-large-box mat-elevation-z4">
      <img src="assets/Sci-fi.png" />
    </div>
  </mat-tab>
</mat-tab-group>
